/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #141414;
    color: #ffffff;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1c1c1c;
}

.logo h1 {
    margin: 0;
    font-size: 1.5em;
}

.search-container {
    position: relative;
    width: 300px;
}

.search-container input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

/* Main Content Styles */
main {
    padding: 20px;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* Center the movies in the container */
}

.movie-item {
    background-color: #333;
    border-radius: 5px;
    overflow: hidden;
    width: 200px;
    text-align: center;
    margin-bottom: 20px; /* Add some space below each movie item */
    cursor: pointer; /* Make it clear that the item is clickable */
}

.movie-item img {
    width: 100%;
    height: auto;
}

.movie-item h3 {
    margin: 10px 0;
    font-size: 1em;
    color: #ffffff;
}
